### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data = "../../UR-RICH-DATA-PT-01-2020-U-C/04-Pandas/HW/Instructions/PyCitySchools/Resources/schools_complete.csv"
student_data= "../../UR-RICH-DATA-PT-01-2020-U-C/04-Pandas/HW/Instructions/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# Combine the data into a single dataset
complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name"])
complete_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
schools = complete_df["school_name"].value_counts()
total_schools = len(schools)

total_students = schools.sum()

school_budgets = complete_df["budget"].unique()
total_budget = school_budgets.sum()

district_math_scores = complete_df["math_score"]
district_average_math = round(district_math_scores.mean(),2)

district_read_scores = complete_df["reading_score"]
district_average_read = round(district_read_scores.mean(),2)

district_passing_rate = ((district_average_math + district_average_read)/2)


district_passing_math = complete_df.loc[complete_df["math_score"] >= 70 ]
district_passing_math_amount = len(district_passing_math)
district_percent_math = (district_passing_math_amount/len(complete_df)) * 100


district_passing_read = complete_df.loc[complete_df["reading_score"] >= 70 ]
district_passing_read_amount = len(district_passing_read)
district_percent_read = (district_passing_read_amount/len(complete_df)) * 100


district_summary_dict = {"Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], 
                         "Average Math Score": [district_average_math],"Average Reading Score": [district_average_read], 
                         "% Passing Math": [district_percent_math],"% Passing Reading": [district_percent_read], 
                         "% Overall Passing Rate": [district_passing_rate]}
district_summary_df = pd.DataFrame(district_summary_dict)
district_summary_df = district_summary_df.style.format({"Total Students": "{:,}","Total Budget": "${:,}",
                                                        "Average Math Score": "{:.2f}","Average Reading Score": "{:.2f}", 
                                                        "% Passing Math": "{0:.2f}%", "% Passing Reading": "{0:.2f}%", 
                                                        "% Overall Passing Rate": "{0:.2f}%"})
district_summary_df

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.